app = "joey-discord-bot"

[build]
  dockerfile = "Dockerfile"

[env]
  PYTHONUNBUFFERED = "1"

[[services]]
  internal_port = 8080
  protocol = "tcp"

  [[services.ports]]
    port = 80

[deploy]
  strategy = "immediate"

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
